form a {
    margin-left: 10px;
}

button, .btn {
    margin: 10px !important;
}


h1, h2, h3, h4, h5, h6, p, span, strong {
    margin: 10px !important;
    text-align: center;
}

h3, h6 {
    margin: 40px !important;
}


div {
    margin-top: 20px;
}

.nav {
    background-color: #0D47A1;
    color: #fff;
}
.navItem {
    vertical-align: middle;
    display: inline;
}
/*navBarTitle{
    color:'#FFFFFF'
}
barButtonTextStyle{
    color:'#FFFFFF'
}
barButtonIconStyle{
    tintColor:'rgb(255,255,255)'
},*/