

<!-- views/partials/header.ejs -->



 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        
        
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/person">Peoples</a></li>
            <li><a href="/company">Companies</a></li>
        </ul>
      </div>
    </nav>
 </div>


<style>
    .container{ padding-bottom:50px; }
</style>





