<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>

<body>
<header>
    <% include partials/header %>
</header> 
	<div class="container">



		<div style="text-align:center;">

			<br>

			<div class="row">
				<h3>All the companies who work  with startit.</h3>
			</div>

			<form action="/person/new" method="GET">
				<button type="submit">Add a Start up</button>
			</form>

			<br>

			<div class="row">
				<div id=buttons>
					<% for( i in Companies){%>
							<div class="col s2">
								<a href="/companies/details/<%=Companies[i]._id %>" type='submit' id=<%=i%> class="waves-effect waves-light btn col s10" style="margin-top:20px;"> <%=Companies[i].name %> </a>
							</div>
					<% } %>
				</div>
			</div>

		</div>

	</div>


	<br>
		<form action="/deleteCompanies" method="GET">
		  <button type="submit">remove all Start ups</button>
		</form>

<footer>
    <% include partials/footer %>
</footer>
</body>
</html>