<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
<header>
    <% include partials/header %>
</header> 
	<div class="container">

		<div class="row">
			<h3>Edit the details of your hairy beaver</h3>
		</div>

		<div class="row">
			<form action="../update/<%=beaver._id %>" method="POST">
				<div class="col s6"><input type="text" value=<%=beaver.name %> name="name"></div>
				<div class="col s6"><input type="date" value=<%=beaver.birthdate %> name="birthdate"></div>
				<div class="col s12"><input type="text" value=<%=beaver.location %> name="location"></div>
				<div class="col s6"><p class="range-field">Beaver Health<input type="range" id="test5" min="0" max="100" name="health"/></p></div>
				<button class="waves-effect waves-light btn" type="submit" style="margin-top: 30px;">Click to make changes</button>
			</form>
		</div>

    </div>
<footer>
    <% include partials/footer %>
</footer>


