<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
<header>
    <% include partials/header %>
</header> 
	<div class="container">

		<div class="row">
			<h3>Log a sighting of <%= beaver.name %>!</h3>
		</div>

		<div class="row">
			<form action="/sightings/create/<%= beaver._id %>" method="POST">
				<input id=dateInput type="hidden" value="<%= beaver._id %>" name="id">
				<input id=dateInput type="hidden" value="<%= beaver.name %>" name="name">
				<div class="col s12 m6"><input id=dateInput type="date" placeholder="Date" name="date"></div>
				<div class="col s12 m6"><input id=addressInput type="text" placeholder="Location" name="location"></div>
				<div class="col s6"><p class="range-field">Beaver Health<input type="range" id="test5" min="0" max="100" name="health"></p></div>
				<button id='create' class="waves-effect waves-light btn" type="submit" style="margin-top: 30;px">Click to make changes</button>
			</form>
		</div>



    </div>

<footer>
    <% include partials/footer %>
</footer>