<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>

<body>



<header>
    <% include partials/header %>
</header> 
	<div class="container">



		<div style="text-align:center;">

			<br>

			<div class="row">
				<h3>HR-HR-HR!</h3>
			</div>

			<form action="/person/new" method="GET">
				<button type="submit">Add someone</button>
			</form>

			<br>

			<form action="/company/new" method="GET">
				<button type="submit">Add company</button>
			</form>

			<br>


		</div>

	</div>

	<br>

		<form action="/company/deleteCompanies" method="GET">
		  <button type="submit">remove all companies</button>
		</form>

	<br>
		<form action="/person/deletePersons" method="GET">
		  <button type="submit">remove all the people</button>
		</form>
	<br>


<footer>
    <% include partials/footer %>
</footer>
</body>
</html>




<!-- 		
			<div class="row">
				<div id=map> "_map_here_ideally_...?_</div>
			</div>	

			<div class="row">

				<div id=details >
					<ul>
						<li style="opacity: 0;">
							<h6>Name</h6>
							<h5 id="name"></h5>
						</li>
						<li style="opacity: 0;">
							<h6>Email</h6>
							<h5 id="email"></h5>
						</li>
						<li style="opacity: 0;">
							<h6>Address</h6>
							<h5 id="address"></h5>
						</li>
					</ul>
				</div>
			</div> -->

